<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


  <div class="rese1">
    <form action="/inv/delete/" method="post" >
            <div class="rese2"><i>All fields are required!</i> </div>
          <br>
            <label for="classification_id">Classification</label>
    
            <%- classificationSelect %>
    
            <label for="inv_make">Make</label>
            <input type="text" name="inv_make" id="inv_make" required placeholder="Min of 3 characters" value="<%= locals.inv_make %>">
    
            <label for="inv_model">Model</label>
            <input type="text" name="inv_model" id="inv_model" required placeholder="Min of 3 characters" value="<%= locals.inv_model %>">
    
           
    
            
            <label for="inv_price">Price</label>
            <input type="number" name="inv_price" id="inv_price" required placeholder="Whole and decimal numbers" pattern="[0-9]+(\.[0-9]+)?" title="Whole and decimal numbers only, no spaces" value="<%= locals.inv_price %>">
    
            <label for="inv_year">Year</label>
            <input type="number" name="inv_year" id="inv_year" required min="1000" max="9999" placeholder="4-digit year" value="<%= locals.inv_year %>">

             <div class="pasi1">
            <button type="submit">Delete Vehicle</button>
            <input type="hidden" name="inv_id"
              <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
              <% } %>>
              </div>
              </div>
              <script src="/js/script.js"></script>
    </form>